table,
th,
tr,
td {
  border: 1px solid black;
}

.admin__btn {
  padding: 4px;
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 7px;
}

.admin__container2 {
  margin-top: 40px;
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
  max-width: 20%;
}

.admin__container2 > button {
  padding: 4px;
  font-size: 15px;
  width: 45px;
}

.admin__conatiner {
  display: flex;
}

.admin__table {
    margin-left: 200px;
}